/* styles.css */

#county-charts-container {
  display: none; /* Hide by default */
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease; /* Smooth transition for visibility change */
}

#county-charts-container.active {
  display: flex; /* Show the container when active */
}

.county-chart {
  margin-bottom: 20px;
}

#map-container, #chart-container {
  display: none; /* Hide both containers by default */
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease; /* Smooth transition for visibility change */
}

#map-container.active, #chart-container.active {
  display: flex; /* Show the container when active */
}

.dropdown-container.active {
  display: block;
}

#map {
  background-size: cover;
  background-position: center;
  width: 1163px;
  height: 720px;
  transition: all 0.5s ease; /* Smooth transition for size change */
}

#map.states {
  background-image: url('ct-states.png'); /* Image for the first page */
}

#map.counties {
  background-image: url('ct-counties.jpg'); /* Image for the fifth page */
}

#map.new-page {
  background-image: url('ct-counties.jpg'); /* Image for the new page */
}

path {
  fill: lightblue;
  stroke: black;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button-container button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: darkblue;
}

.axis-label {
  font-size: 12px;
}

.dropdown-container {
  display: none;
  text-align: center;
  margin-top: 20px;
}

#chart {
  width: 1163px;
  height: 720px;
}

.hidden {
  display: none;
}
